:root {
  --global-white: #ffffff;
  --global-white-rgb: 255, 255, 255;
  --global-blue-dark: #1e2045;
}

@bg-blue-dark: var(--global-blue-dark);

@bg-white: var(--global-white);
@bg-white-rgb: var(--global-white-rgb);
