@import './_variable.less';

.table-filter-form {
  border-bottom: 1px solid @border-gray;
}

.table-row-cursor {
  .ant-table-tbody {
    tr {
      cursor: pointer;
    }
  }
}

.ant-modal-body {
  max-height: 70vh;
  overflow: auto;
}

.popconfirm-small {
  max-width: 300px;
}

.ant-modal {
  top: 8vh;
}

.ant-tooltip-content:has(pre) {
  width: 70vw;
}

.sql-tooltip-width {
  width: 70vw;
}
