@import './_variable.less';

.font-size-small {
  font-size: @font-size-small;
}

.padding-content {
  padding: @padding;
}

.flex-end-horizontal {
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}

.full-width-element {
  width: 100%;
}

.middle-select {
  width: 200px;
}

.clear-margin-right {
  margin-right: 0 !important;
}

.clear-margin-top {
  margin-top: 0 !important;
}

.clear-margin-bottom {
  margin-bottom: 0 !important;
}

.clear-margin {
  margin: 0 !important;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea-no-resize {
  resize: none;
}

.text-black {
  color: @text-black;
}
.text-blue {
  color: @text-blue;
}
.text-orange {
  color: @text-orange;
}
.text-green {
  color: @text-green;
}

.text-red {
  color: @text-red;
}

.pre-warp-break-all {
  white-space: pre-wrap;
  word-break: break-word;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.whitespace-pre-line {
  white-space: pre-line;
}
