.sql-panel-statistics-wrapper {
  .ant-card-body {
    padding: 12px 20px;
  }
}
.sql-management-table-namespace {
  .table-column-sql-fingerprint,
  .table-column-sql {
    max-width: 420px;
  }
  .table-column-source {
    max-width: 200px;
  }
}
